<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.racertimer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RacerTimer"
        tools:remove="android:appComponentFactory"
        tools:targetApi="p">

        <activity
            android:name=".ActivityForecast"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.ActivityForecast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name=".Instruments.LocationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.racertimer.Instruments.LocationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ActivityRace"
            android:exported="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.ActivityRace" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityTimer"
            android:exported="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.ActivityTimer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>